<div id="treewis_about_widget-3" class="widget treewis_about_widget"><h3 class="title-lines">
        <span>About Me</span></h3>
    <div class="about-widget">

        <div class="about-widget-img">
            <img src="{{ asset('wordpress/wp-content/uploads/2017/05/650-300x209.jpg') }}"
                 alt="About Me"/>
        </div>

        <span class="about-widget-subtitle">The Daily Grunt Motorcycle Blog</span>

        <p> The place with all thing motorcycle from travels, mechanics to diy projects and how to's </p>

        <span class="about-widget-img-two"><strong>by FildEs</strong></span>

    </div>

</div>