<div id="treewis_posts_widget-2" class="widget treewis_posts_widget"><h3 class="title-lines"><span>Latest Posts</span>
    </h3>

    <div class="posts-widget">
        <ul>
            {% for post in posts|slice(0, 6) %}
            <li>
                <div class="posts-widget-item">
                    <div class="posts-widget-content">
                        <h4 class="with-img"><a href="{{ path('show', {year: post.date|date('Y'), month: post.date|date('m'), day: post.date|date('d'), name: post.name}) }}">{{ post.title }}</a></h4>
                        <span>{{ post.date|date('F d, Y')  }}</span>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>