<div id="treewis_social_widget-2" class="widget treewis_social_widget"><h3 class="title-lines"><span>Stay Connected</span>
    </h3>
    <div class="social-widget">

        <a href="https://www.facebook.com/pop.adrian.503" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://plus.google.com/u/0/108399430584931452627" target="_blank"><i class="fa fa-google-plus"></i></a>
        <a href="https://www.linkedin.com/in/adrian-bogdan-pop/" target="_blank"><i class="fa fa-linkedin"></i></a>


    </div>

</div>