<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Rick Floyd | Chasing Excellence{% endblock %}</title>

        <link rel="profile" href="http://gmpg.org/xfn/11" />
        <link rel="pingback" href="/wordpress/xmlrpc.php" />

        <!--[if lt IE 9]>
        <script src="/wordpress/wp-content/themes/newsworthy-wpcom/js/html5.js" type="text/javascript"></script>
        <![endif]-->

        <!-- All in One SEO Pack 2.3.9.1 by Michael Torbert of Semper Fi Web Design[348,373] -->
        <meta name="description"  content="Chasing Excellence with Rick Floyd" />
        <link rel='next' href='/' />

        <link rel="canonical" href="/wordpress/" />
        <!-- /all in one seo pack -->
        <link rel='dns-prefetch' href='//localhost' />
        <link rel='dns-prefetch' href='//s7.addthis.com' />
        <link rel='dns-prefetch' href='//fonts.googleapis.com' />
        <link rel='dns-prefetch' href='//s.w.org' />
        <link rel="alternate" type="application/rss+xml" title="Chasing Excellence &raquo; Feed"
              href="/wordpress/feed/" />
        <link rel="alternate" type="application/rss+xml" title="Chasing Excellence &raquo; Comments Feed"
              href="/wordpress/comments/feed/" />
        <script type="text/javascript">
            window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2\/svg\/","svgExt":".svg","source":{"concatemoji":"\/wordpress\/wp-includes\/js\/wp-emoji-release.min.js?ver=3.8.5"}};
            !function(a,b,c){function d(a){var c,d,e,f,g,h=b.createElement("canvas"),i=h.getContext&&h.getContext("2d"),j=String.fromCharCode;if(!i||!i.fillText)return!1;switch(i.textBaseline="top",i.font="600 32px Arial",a){case"flag":return i.fillText(j(55356,56806,55356,56826),0,0),!(h.toDataURL().length<3e3)&&(i.clearRect(0,0,h.width,h.height),i.fillText(j(55356,57331,65039,8205,55356,57096),0,0),c=h.toDataURL(),i.clearRect(0,0,h.width,h.height),i.fillText(j(55356,57331,55356,57096),0,0),d=h.toDataURL(),c!==d);case"diversity":return i.fillText(j(55356,57221),0,0),e=i.getImageData(16,16,1,1).data,f=e[0]+","+e[1]+","+e[2]+","+e[3],i.fillText(j(55356,57221,55356,57343),0,0),e=i.getImageData(16,16,1,1).data,g=e[0]+","+e[1]+","+e[2]+","+e[3],f!==g;case"simple":return i.fillText(j(55357,56835),0,0),0!==i.getImageData(16,16,1,1).data[0];case"unicode8":return i.fillText(j(55356,57135),0,0),0!==i.getImageData(16,16,1,1).data[0];case"unicode9":return i.fillText(j(55358,56631),0,0),0!==i.getImageData(16,16,1,1).data[0]}return!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i;for(i=Array("simple","flag","unicode8","diversity","unicode9"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
        </script>
        <style type="text/css">
            img.wp-smiley,
            img.emoji {
                display: inline !important;
                border: none !important;
                box-shadow: none !important;
                height: 1em !important;
                width: 1em !important;
                margin: 0 .07em !important;
                vertical-align: -0.1em !important;
                background: none !important;
                padding: 0 !important;
            }
        </style>
        <link rel='stylesheet' id='lafs_style-css'
              href='/wordpress/wp-content/plugins/follow-subscribe/css/lafs_style.css?lafs_version=1.1&#038;ver=3.8.5'
              type='text/css' media='all' />
        <link rel='stylesheet' id='cntctfrm_form_style-css'
              href='/wordpress/wp-content/plugins/contact-form-plugin/css/form_style.css?ver=4.0.2'
              type='text/css' media='all' />
        <link rel='stylesheet' id='sendgrid-mailing-list-styles-css'
              href='/wordpress/wp-content/plugins/sendgrid-mailing-list/css/sgml.css?ver=3.8.5'
              type='text/css' media='all' />
        <link rel='stylesheet' id='ssb_style-css'
              href='/wordpress/wp-content/plugins/social-share-boost/css/style.css?ver=3.8.5'
              type='text/css' media='all' />
        <link rel='stylesheet' id='style-css'
              href='/wordpress/wp-content/themes/newsworthy-wpcom/style.css?ver=3.8.5'
              type='text/css' media='all' />
        <link rel='stylesheet' id='newsworthy-oswald-css'
              href='http://fonts.googleapis.com/css?family=Oswald%3A400%2C700%2C300&#038;ver=3.8.5'
              type='text/css' media='all' />
        <link rel='stylesheet' id='addthis_all_pages-css'
              href='/wordpress/wp-content/plugins/addthis-follow/frontend/build/addthis_wordpress_public.min.css?ver=3.8.5'
              type='text/css' media='all' />
        <link rel='stylesheet' id='dashicons-css'
              href='/wordpress/wp-includes/css/dashicons.min.css?ver=3.8.5'
              type='text/css' media='all' />
        <link rel='stylesheet' id='thickbox-css'
              href='/wordpress/wp-includes/js/thickbox/thickbox.css?ver=3.8.5'
              type='text/css' media='all' />
        <link rel='stylesheet' id='rm_video_rmvideo-css'
              href='/wordpress/wp-content/plugins/rm-video/static/viddler.css?ver=0.02.1'
              type='text/css' media='all' />
        <script type='text/javascript' src='/wordpress/wp-admin/admin-ajax.php?action=addthis_global_options_settings&#038;ver=3.8.5'></script>
        <script type='text/javascript' src='https://s7.addthis.com/js/300/addthis_widget.js?ver=3.8.5#pubid=wp-a526548368a4846dd78f7baae8d54590'></script>
        <script type='text/javascript' src='/wordpress/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
        <script type='text/javascript' src='/wordpress/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
        <script type='text/javascript'>
            /* <![CDATA[ */
            var SendgridMailingList_ajax_script = {"ajaxurl":"http:\/\/wordpress\/wp-content\/plugins\/sendgrid-mailing-list\/ajax.php"};
            /* ]]> */
        </script>
        <script type='text/javascript' src='/wordpress/wp-content/plugins/sendgrid-mailing-list/js/ajax.js?ver=3.8.5'></script>
        <link rel='https://api.w.org/' href='/wordpress/wp-json/' />
        <link rel="EditURI" type="application/rsd+xml" title="RSD" href="/wordpress/xmlrpc.php?rsd" />
        <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wordpress/wp-includes/wlwmanifest.xml" />
        <meta name="generator" content="WordPress 3.8.5" />

        <!-- Facebook Open Graph metatags added by WordPress plugin. Get it at: http://www.linksalpha.com/widgets/follow_subscribe -->
        <meta property="og:site_name" content="Chasing Excellence" />
        <meta property="og:title" content="Chasing Excellence" />
        <meta property="og:url" content="/wordpress" />
        <meta property="og:description" content="with Rick Floyd" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="en_us" />
        <!-- End Facebook Open Graph metatags-->

        <!-- Google Plus metatags added by WordPress plugin. Get it at: http://www.linksalpha.com/widgets/follow_subscribe -->
        <meta itemprop="name"  content="Chasing Excellence" />
        <meta itemprop="description" content="with Rick Floyd" />
        <!-- End Google Plus metatags-->

        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    <script type='text/javascript' src='/wordpress/wp-content/plugins/akismet/_inc/form.js?ver=3.1.11'></script>
    <script type='text/javascript' src='/wordpress/wp-content/themes/newsworthy-wpcom/js/navigation.js?ver=20120206'></script>
    <script type='text/javascript' src='/wordpress/wp-content/themes/newsworthy-wpcom/js/skip-link-focus-fix.js?ver=20130115'></script>
    <script type='text/javascript' src='/wordpress/wp-includes/js/comment-reply.min.js?ver=3.8.5'></script>
    <script type='text/javascript' src='/wordpress/wp-includes/js/jquery/jquery.form.min.js?ver=3.37.0'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var thickboxL10n = {"next":"Next >","prev":"< Prev","image":"Image","of":"of","close":"Close","noiframes":"This feature requires inline frames. You have iframes disabled or your browser does not support them.","loadingAnimation":"http:\/\/excellence\/wp-includes\/js\/thickbox\/loadingAnimation.gif"};
        /* ]]> */
    </script>
    <script type='text/javascript' src='/wordpress/wp-includes/js/thickbox/thickbox.js?ver=3.1-20121105'></script>
    <script type='text/javascript' src='/wordpress/wp-content/plugins/rm-video/static/viddler.js?ver=0.02.1'></script>
    <script type='text/javascript' src='/wordpress/wp-includes/js/wp-embed.min.js?ver=3.8.5'></script>

    </body>
</html>
