<header class="page-header">
    <h1 class="page-title">
        Author Archives: <span class="vcard"
        <a class="url fn n" href="http://chasingexcellenceblog.com/author/rfloyd/"
           title="Rick Floyd" rel="me">Rick Floyd<h1>aici</h1></a>
        </span>
    </h1>
</header><!-- .page-header -->