<footer id="footer">

    <div id="footer-social">
        <div class="container">

            <div class="footer-social-bg">

                <a href="https://www.facebook.com/pop.adrian.503" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://plus.google.com/u/0/108399430584931452627" target="_blank"><i class="fa fa-google-plus"></i></a>
                <a href="https://www.linkedin.com/in/adrian-bogdan-pop/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <span class="footer-social-line"></span>

            </div>
        </div>
    </div>


    <div id="footer-text" class="with-social">
        <div class="container">

            <p class="footer-text-copyright">&copy; {{ "now"|date('Y') }} - <a href="" target="_blank">FildEs</a>. All Rights Reserved.</p>
            <p class="footer-text-back-to-top"><a href="#">Back to top<i class="fa fa-angle-double-up"></i></a></p>

        </div>
    </div>

</footer>