<header class="page-header">
    <h1 class="page-title">

        Author Archives: <span class="vcard"
        <a class="url fn n" href="{{ path('author_archives', { author_name: user.niceName}) }}"
           title="{{ user.displayName }}" rel="me">{{ user.displayName }}</a>
        </span>


    </h1>
</header><!-- .page-header -->